/*style.css*/
html,body{
	height 			: 100%;
	min-height 		: 540px; 
	background 		: #fff;
}
header{
	z-index 		: 20; 
	display 		: table;
	height 			: 180px;
	width 			: 300px;
	margin 			: auto;
}
	header .facebook{
		display 	: inline-block;
		margin 		: auto;
		width 		: 100px;
		height 		: 95px;
		background 	: url('../img/facebook_hover.png') center no-repeat;
		cursor 		: pointer;
	}
	header .facebook:hover{
		background : url('../img/facebook.png') center no-repeat; 
	}
	header .twitter{
		display 	: inline-block;
		margin 		: auto;
		width 		: 100px;
		height 		: 138px;
		background 	: url('../img/twitter.png') center no-repeat;
		cursor 		: pointer;
	}
	header .twitter:hover{
		background 	: url('../img/twitter_hover.png') center no-repeat;
	}
	header .instagram{
		display 	: inline-block;
		margin 		: auto;
		width 		: 90px;
		height 		: 99px;
		background 	: url('../img/instagram.png') center no-repeat;
		cursor 		: pointer;
	}
	header .instagram:hover{
		background 	: url('../img/instagram_hover.png') center no-repeat;
	}

#home {
	min-width 	 	: 960px;
	min-height 		: 540px; 
	width 			: 100%;
	height		 	: 99%;

}
	#home .left{
		z-index              : 0; 
		display              : inline-block;
		width                : 33.333333333%;
		height               : 100%;
		background           : url('../img/left-min.png') center top no-repeat;
		background-position-y: 7px; 

	}
	#home .center{
		z-index 	: 0; 
		display 	: inline-block;
		width 		: 33.333333333%;
		height 		: 100%;
	}
	#home .logo{
		background 	: url('../img/logo.png') center no-repeat;
		width 		: auto;
		height 		: 283px;
		/*cursor 		: pointer;*/
	}
	#home .logo:hover{
		background 	: url('../img/logo_hover.png') center no-repeat;
	}
	#home .right{
		z-index              : 0; 
		display              : inline-block;
		width                : 31.333333333%;
		height               : 100%;
		background           : url('../img/right-min.png') center top no-repeat;
		background-position-y: 7px; 
	}


footer{
	z-index 	 	: 20; 
	height 			: 171px;
	min-width		: 960px;
	width 			: 100%;
	margin 			: -171px auto 0; 
	background 		: url('../img/desktop-min.png') center no-repeat;
}
section {
	z-index: -20;
}
@media screen and (min-height: 720px) {
		#home .left{
		background           : url('../img/left-min.png') center no-repeat;

		background-position-y: 130px;  
		}
		#home .right{
		background           : url('../img/right-min.png') center no-repeat;

		background-position-y: 130px;  
		}
	}
@media screen and (max-height: 570px) {
	header{
		height 	: 140px;
	}

}